<header class="flex h-[10%] justify-center w-full">
    <app-nav [tituloPagina]="'Configurações'"></app-nav>
</header>
<section class="w-screen h-full grid grid-rows-10 justify-center">
    <div class=" grid row-span-4 justify-center">
        <fa-icon [icon]="faHouseChimneyUser" class="text-corPrimaria text-8xl ml-1">
        </fa-icon>
        <p class="text-corPrimaria ">
            Casa de Arlindo
        </p>
    </div>
    <div class="grid row-span-6">
        <div *ngFor="let nome of listaConfiguracoes" class="text-corPrimaria grid grid-cols-2">
            <p>{{nome}}</p>
            <div *ngIf="nome == 'Sair'">
                <fa-icon [icon]="faRightFromBracket" class="text-corPrimaria grid items-center justify-end" (click)="sair()"></fa-icon>
            </div>
            <div *ngIf="nome != 'Sair'">
                <div class="text-corPrimaria grid items-center justify-end">></div>
            </div>
        </div>
    </div>
</section>


