<section class="w-screen h-full flex justify-center">
    <div class="gridFull">
        <div class="cardBox">
            <div class="flex justify-center items-center text-white">Lâmpadas</div>
            <div class="gridDentroDoCard">
                <div class="lampOffOn">
                    <div class="inputLamp" *ngFor="let comodo of comodosFor">
                        <div *ngIf="comodo.tipo == 'Quarto'" class="gridDentroDoInput">
                            <p>
                                {{comodo.tipo}}s</p>
                        </div>
                        <div *ngIf="comodo.tipo != 'Quarto'" class="gridDentroDoInput">
                            <p>
                                {{comodo.tipo}}</p>
                        </div>
                            <p class="text-green-600" (click)="mudaEstadoLampada(comodo.tipo)" *ngIf="validaDispositivos(comodo)">ON</p>
                            <p class="text-red-600" (click)="mudaEstadoLampada(comodo.tipo)" *ngIf="!validaDispositivos(comodo)">OFF</p>
                        
                   </div>
                    
                </div>
                <div class="gridLigaTodasLampadas">   
                    <div class="interruptor">
                        <img src="../../../assets/lampada-on.svg" *ngIf="validaLampadas()" (click)="desligaTodasLampadas()" class="h-full w-full">
                    </div>
                    <div class="text-white flex justify-center h-full w-full">
                        Geral
                    </div>
                </div>
            </div>
        </div>
        <div class="cardBox">
            <div class="flex justify-center items-center text-white">Ar-Condicionado</div>
            <div class="gridDentroDoCard">
                <div class="lampOffOn">
                    <div class="inputLamp" *ngFor="let comodo of comodosFor">
                        <p *ngIf="comodo.tipo == 'Quarto'" class="text-corPrimaria text-sm text-left">
                                {{comodo.tipo}} de {{comodo.nome}}</p>
                            <p *ngIf="comodo.tipo != 'Quarto'" class="text-corPrimaria text-sm text-left">
                                {{comodo.tipo}}</p>
                        <p class="text-red-600">OFF</p>
                    </div>
                </div>
                <div class="gridLigaTodasLampadas">   
                    <div class="interruptor">
                        <img src="../../../assets/Liga-desliga-ar.svg" class="h-full w-full">
                    </div>
                    <div class="text-white flex justify-center h-full w-full">
                        Geral
                    </div>
                </div>
            </div>

        </div>
        <div class="portao">
            <p>Status portão:</p>
            <div class="controlePortao"> 
                <h1 class="text-red-600">FECHADO</h1>
                <p class="flex items-center"><img src="../../../assets/Liga-desliga-ar.svg"> </p>
            </div>
        </div>
    </div>

</section>
