@import url("../../../styles.css");

@layer components{
    .gridFull{
        @apply flex-col;
        @apply w-5/6 h-full;
        @apply flex justify-center;
        @apply items-center;
        @apply space-y-3;

    }

    .cardBox{
        @apply bg-corPrimaria;
        @apply h-full w-3/4;
        display: grid;
        grid-template-rows: 20% 80%;
        @apply space-y-3;
        @apply rounded-lg;
    }
    .gridDentroDoCard{
        @apply grid grid-cols-2;
    }

    .lampOffOn{
        @apply space-y-4;
        @apply ml-1;
    }

    .inputLamp{
        @apply w-11/12 h-1/5;
        @apply bg-corFundoCard;
        @apply rounded-lg;  
        @apply p-1;
        @apply space-x-3;
   }

    .gridLigaTodasLampadas{
        display: grid;
        grid-template-rows: 70% 30%;
        @apply items-center;
        @apply justify-center;
        @apply h-9/10;
        @apply space-y-3;
    }

    .interruptor{
        @apply h-9/10 w-full;
    }

    .portao{
        @apply w-full h-full;
        display:  grid;
        grid-template-rows: 10% 90%;
        @apply items-center;
        @apply justify-center;
        @apply justify-items-center;

       
    }

    .controlePortao{
        @apply w-full h-9/10;
        @apply bg-corFundoCard;
        @apply rounded-lg;
        display: grid;
        grid-template-rows: 10% 90%;
        @apply justify-items-center;
    }

    .gridDentroDoInput{
        display: grid;
        grid-template-columns: 70% 30%;
        @apply text-corPrimaria text-sm text-left;
        @apply items-center;
        @apply w-full h-full;
    }
}