<section class="flex w-screen h-full justify-center">
    <div class="grid grid-rows-2 h-full w-5/6">
        <div class="grid-span-1 flex w-full flex-col">
            <div class="border-b-2 h-1/10 w-5/6 border-corPrimaria">
                <h3>Informações Gerais</h3>
            </div>
            <div class="grid grid-cols-2 w-full h-9/10">
                <div class="flex items-center justify-center flex-col">
                    Status
                    <p style="color: red;">Fechado</p>
                </div>
                <div class="flex items-center justify-center flex-col">
                    Temperatura Geral:
                    <p>27°C</p>
                </div>
                <div class="flex items-center justify-center flex-col">
                    Gás
                    <div></div>
                    <p>85%</p>
                </div>
                <div class="flex items-center justify-center flex-col">A</div>
            </div>
        </div>
        <div class="grid-span-2">Comodos</div>
    </div>
</section>